<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/resources/img/favicon.ico}" href="../../resources/img/favicon.ico">

    <title>Фоточки</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <!-- Custom styles for this template -->
    <link th:href="@{resources/css/main.css?v={ver}(ver=${version})}" href="../../resources/css/main.css" rel="stylesheet">
    <link th:href="@{resources/css/baguetteBox.min.css}" href="../../resources/css/baguetteBox.min.css" rel="stylesheet">
</head>

<body class="text-center">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Абажур</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" th:href="@{/}" href="#">Статистика</a>
                <a class="nav-link active" th:href="@{/gallery.html}" href="#">Фотки</a>
                <a class="nav-link" th:href="@{/chat.html}" href="#">Чатик</a>
            </nav>
        </div>
    </header>
    <main role="main" class="inner cover">
        <div class="gallery">
            <div class="row">
                <div class="col-sm-6 col-md-4" th:each="img : ${images}">
                    <a class="lithbox" th:href="@{/storage/{id}/full(id=${img})}" href="../../resources/img/abajur.jpg">
                        <img th:src="@{/storage/{id}/medium(id=${img})}" class="img-fluid" src="../../resources/img/abajur.jpg">
                    </a>
                </div>
            </div>
        </div>
    </main>
    <footer class="mt-auto">
        <div class="inner">
            <nav aria-label="Pages" th:if="${pageCount > 1}">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                        <a class="page-link" href="#" th:href="@{/gallery.html?page={p}(p=${currentPage-1})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item" th:each="page : ${#numbers.sequence(1, pageCount)}" th:classappend="${currentPage == page ? 'disabled' : ''}">
                        <a class="page-link" href="#" th:text="${page}" th:href="@{/gallery.html?page={p}(p=${page})}">1</a>
                    </li>
                    <li class="page-item" th:classappend="${currentPage == pageCount ? 'disabled' : ''}">
                        <a class="page-link" href="#" th:href="@{/gallery.html?page={p}(p=${currentPage+1})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{resources/js/jquery-3.3.1.min.js}" src="../../resources/js/jquery-3.3.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script th:src="@{resources/js/baguetteBox.min.js}" src="../../resources/js/baguetteBox.min.js"></script>
<script th:inline="javascript">
    //<![CDATA[
(function() {
       var initGallery = function() {
            baguetteBox.run('.gallery', {filter: /full$/});
       };
       if (typeof baguetteBox !== "undefined" && baguetteBox !== null){
            initGallery();
       } else if (window.addEventListener) {
            window.addEventListener("load", initGallery, false);
       } /* IE */ else if (window.attachEvent) {
            window.attachEvent("onload", initGallery);
       }
   })();
//]]>
</script>
</body>
</html>